.blocker{
    margin-top: 50px;
}

.image-wrapper{
    margin: 50px;
}

.buttonclass {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .buttonerror {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .autocomplete-container-blocker{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }