.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .map-container {
    flex: 1; /* Adjust as needed */
    margin-left:50px;
    margin-top: 50px;
  
  }
  
  .autocomplete-container {
    flex: 1; /* Adjust as needed */
  }

  .autocomplete-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Adds space between Autocomplete components */
    margin-top: 50px;
  }
  